<div class="container-auctions col-lg-11 offset-lg-1">
    <!--<div class="container row col-md-12">-->

        <div>
            <img class="company" src="https://www.schaffrathnumis.de/layout/theme/images/schaffrath-web-logo.svg" alt="schaffrathnumis">

        </div>


        <hr class="m-y-1">

        <!--<h3 class="titel">{{title}}</h3>-->

        <!--<app-test></app-test>-->
        <app-add-auction></app-add-auction>

        <!--<app-auctions></app-auctions>-->
    <!--</div>-->
</div>
