<terra-portlet inputPortletHeader="Tests">

    <!--<input [(ngModel)]="value"-->
    <!--#ctrl="ngModel" >-->

    <!--<p>Value: {{ value }}</p>-->
    <!--<p>Valid: {{ ctrl.valid }}</p>-->

    <!--<button (click)="setValue()">Set value</button>-->
    <!--<div style="display: flex; justify-content: space-around;">-->
    <!--<div id="name">{{user.name}}</div>-->
    <!--<div id="lastLogin">{{ user.last_login | timeFormat:true }}</div>-->
    <!--</div>-->

    <terra-date-picker
            id="date" required
            [(ngModel)]="date"
            [inputName]="'Start Datum'"
            [inputIsRequired]="true"
            #test="ngModel"

    >
    </terra-date-picker>
    <h4>dateTest: {{dateTest}}</h4>

</terra-portlet>
